.parent {
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #eee;
    color: white;

}

div {
    background-color: rgb(33, 212, 173);
    display: flex;
    width: 5%;
    flex-wrap: wrap;
    height: calc(93% / 3);
}

.one {
    margin-top: 2%;
    width: calc(100% / 3);
    margin-left: 93%;
}

.two {
    margin-left: 2%;
    width: 50%;
    margin-right: 44%;
}

.three {
    margin-bottom: 2%;
    width: calc(100% / 3);
    margin-left: 93%;
}