.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-areas: "one one one one one one one one " "two two two two two two three three" "four four five five five five five five" "six six five five five five five five" "seven seven five five five five five five" "eight eight eight eight eight eight eight eight ";
    gap: 20px;
}

.grid div {
    background-color: lightskyblue;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}