/* 
a good way when chosing a font is to chose web fonts

*/
.font-family {
    background-color: #ddd;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* sans serif مع حواف */
/* بدوان حواف serif */
/* there is new fonts every day
check out cario fonts from google fonts */


/* 
copy the links and add theme with others in the head
or dowonlod it and add it into the project foler and add it
*/