/* 
Typography Font Style , Variant and Weight

Font-style: italic ;and oblique; خط مائل
Font-style: normal ;#you can use it if the font was already italic
                    or ect so you can make it normal again
Font-variant: small-caps;  #  makes the liters captile but in the size if normal letters                   
Font-weight: 100 --> 900 ; and bold ; and bolder ; and lighter;







*/