 /* radius means نصف القطر */
 /* 
 
 the border radius takes 4 values 
 borer-radius: 0 0 0 0 ;


 */
 div {
     width: 150px;
     height: 150px;
     background-color: yellow;
     margin: 20px auto;
     border-top-left-radius: 20px 10px;
     border-bottom-left-radius: 20px 5px;
     border-bottom-left-radius: 20px 15px;
     border-top-right-radius: 20px;
 }